*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.page1{
  height: 100vh;
  width: 100%;
  background-color: antiquewhite;
}
.page2{
  height: 100vh;
  width: 100%;
  background-color: green;
}
.page3{
  height: 100vh;
  width: 100%;
  background-color: rebeccapurple;
}

.page1 input{
  padding: 10px;
  margin:10px;
  font-size: 20px;
  border-radius: 10px;
  
}